@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
  overflow-x: hidden;
  background-color: #dae1e7;
  font-family: "Inter", "Roboto Condensed", sans-serif;
}
.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}

.transition-transform {
  transform: translateX(0);
}

/* Add your custom CSS below if needed */
